<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ktu.cinemind">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/cinemind_test_logo_withouttext"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".pages.splashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pages.welcomeScreen"
            android:theme="@style/SplashTheme" />

        <activity android:name=".pages.loginScreen"
            android:theme="@style/SplashTheme" />

        <activity android:name=".pages.registerScreen"
            android:theme="@style/SplashTheme" />

        <activity android:name=".MainActivity" />
        <activity android:name=".pages.watchlist" />
        <activity android:name=".pages.favorites" />
        <activity android:name=".pages.reminder" />
        <activity android:name=".pages.movieDetails"/>
        <activity android:name=".pages.selectedGenreMovies" />
        <activity android:name=".pages.searchMovie" />
<!--
        <receiver android:name="AlarmReceiver"></receiver>
        -->
        <service
            android:name=".services.myService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".services.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
